/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-default {
  top: 0;
  left: 0;
  border-top: 1px solid #4C38B1;
  border-bottom: 1px solid #4C38B1;
  background-color: #A172FF;
  height: 70px;
  margin: 0px 10px;
  color: #fff;

}

a.navbar-brand {
  color: #fff;
  height: 70px;
  font-size: 24px;
  line-height: 26px;
  padding: 22px 15px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-default .navbar-nav > li > a {
  text-decoration: none;
  padding: 25px 10px;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus  {
  text-decoration: underline;
  background-color: transparent;
  color: #fff;
}

.main-view {
  margin: 20px 10px;
}

/*
 * Sidebar
 */

.sidebar {
    
    z-index: 1000;
    display: block;
    padding: 20px 20px 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #6E30FF;
    border: 1px solid #3330B3;
    color: white;
}

.user-image-box {
  width: 170px; 
  height: 170px;
  padding: 5px;
  
  margin-top: -5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
}
.user-image-box img {
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 5px;
}

/* Sidebar navigation */
.nav-sidebar {
  
  margin-bottom: 20px;
  
}
.nav-sidebar > li > a, 
.nav-sidebar > li > a:focus {
  padding: 5px 20px;
  
  color: #fff;
  background-color: #6E30FF;
  margin: 0;

}
.nav-sidebar > li > a:hover {
  color: #6E30FF;
  background-color: #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #6E30FF;
  background-color: #fff;
  border-top: 1px solid #6E30FF;
  border-bottom: 1px solid #6E30FF;
}

.auth {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Main content
 */

.main .page-header {
  color: #6E30FF;
  border-bottom: 1px solid #6E30FF;
}

/*
 * Footer
 */
footer {
  margin: 30px 10px;
  color: #6E30FF;
  padding-top: 15px;
  border-top: 1px solid #6E30FF;
}

@media (min-width: 768px) {
  .main {
    
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.search-add-box {
  padding: 20px 40px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.search-label {
  margin: 10px 0;
}
.search-field {
  width: 300px;
  border-radius: 10px;
  padding: 3px 10px;
  border: 2px solid #3330B3;
  margin-left: 5px;
}

.add-button {
  min-width: 150px;
  margin: 10px;
}

.table-view {
  
}

.note-header {
  color: #6E30FF;
}
.client-notes {
  padding: 0;
}
.client-notes li {
  list-style: none;
  padding: 7px;
  margin-bottom: 15px; 
}

