<h1 class="page-header">Пропозиції</h1>
<div class="clearfix">

	<div class="search-add-box clearfix">
		<span class="search-label pull-left"> <strong>Шукати: </strong><input class="search-field" ng-model="searchField" /></span>
		<button class="add-button btn btn-primary pull-right" ng-click="showAddForm()">Додати</button>
	</div>
	
	<div class="row">
		<div class="table-view">
			        
	        <div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<th>Номер</th>
							<th>Дата</th>
							<th>Клієнт</th>
							<th>Сума</th>
							<th>Файл</th>
							<th>Статус</th>
							<th>Менеджер</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat="offer in offers | filter: searchField" ng-dblclick="openOffer(offer)">
								<td>{{offer.number}}</td>
								<td>{{offer.date | date:'dd/MM/yyyy'}}</td>
								<td>{{offer.client.name}}</td>
								<td>{{offer.sum}}</td>
								<td><span ng-if="!offer.file" ngf-select="addFile(offer, $file)" style="cursor: pointer">Додати файл</span><span ng-if="offer.file"><a href="{{offer.file}}" target="_blank">Файл пропозиції</a><button class="close" ng-click="deleteFile(offer)"><span class="glyphicon glyphicon-remove-circle"></span></td>
								<td>{{offer.status}}</td>
								<td>{{offer.manager.firstName + ' ' + offer.manager.lastName}}</td>
								<td><button class="close" ng-click="openOffer(offer)"><span class="glyphicon glyphicon-pencil"></span></button></td>
								<td><button class="close" ng-click="deleteOffer(offer)"><span class="glyphicon glyphicon-remove"></span></button></td>
							</tr>
						</tbody>
				</table>
			</div>
			        
		</div>

	</div>

	<div class="modal fade" id="editOfferModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Редагувати пропозицію</h4>
	      </div>
	      <div class="modal-body clearfix">
	        <form>
	        	<div class="form-group clearfix">
			        <label for="offerNumber" class="col-md-3 control-label">Номер</label>
			        <div class="col-md-8">
			          <input type="text" class="form-control" id="offerNumber" ng-model="editOffer.number" required>
			        </div>
			    </div>
			    <div class="form-group clearfix">
			        <label for="offerDate" class="col-md-3 control-label">Дата</label>
			        <div class="col-md-8">
			          <input type="date" class="form-control" id="offerDate" ng-model="editOffer.date">
			     
			        </div>
			    </div>
			     <div class="form-group clearfix">
			        <label for="offerClient" class="col-md-3 control-label">Компанія</label>
			        <div class="col-md-8">
			          <select ng-model="editOffer.client._id" class="form-control" id="offerClient" required>
						<option ng-repeat="client in clients" value="{{client._id}}">{{client.name}}</option>
					</select>
			        </div>
			    </div>
			    <div class="form-group clearfix">
			        <label for="offerSum" class="col-md-3 control-label">Сума</label>
			        <div class="col-md-8">
			          <input type="text" class="form-control" id="offerSum" ng-model="editOffer.sum">
			        </div>
			    </div>
			    <div class="form-group clearfix">
			        <label for="offerStatus" class="col-md-3 control-label">Статус</label>
			        <div class="col-md-8">
			          <select ng-model="editOffer.status" class="form-control" id="offerStatus">
						<option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
					</select>
			        </div>
			    </div>
			    <div class="form-group clearfix">
			        <label for="offerManager" class="col-md-3 control-label">Менеджер</label>
			        <div class="col-md-8">
			          <select ng-model="editOffer.manager._id" class="form-control" id="offerManager" required>
						<option ng-repeat="manager in managers" value="{{manager.id}}">{{manager.firstName + ' ' + manager.lastName}}</option>
					</select>
			        </div>
			    </div>
			   
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-click="saveOffer(editOffer)">Зберегти</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
</div>